html,
body {
  margin: 0;
  padding: 0;
}
html ul,
body ul {
  margin: 0;
  padding: 0;
}
html ul li,
body ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 30px;
}
html #box,
body #box {
  width: 500px;
  height: 300px;
  background-color: chocolate;
  background: url('../images/生小孩.jpg');
  background-size: cover;
}
